<!-- ══════════════════════════════════════════ MODAL CREAR MARCA ══════════════════════════════════════════════════ -->

<div class="modal-overlay" id="modalCrearMarca" onclick="closeOnOverlay(event, 'modalCrearMarca')">
    <div class="modal modal-md">
        <div class="modal-header">
            <div class="modal-terminal-btns">
                <span class="mtb mtb-red" onclick="closeModal('modalCrearMarca')"></span>
                <span class="mtb mtb-yellow"></span>
                <span class="mtb mtb-green"></span>
            </div>
            <span class="btn btn-outline btn-sm btn-outline-blue">REGISTRAR_MARCA.exe</span>
        </div>
        <div class="modal-body">
            <form id="formCrearMarca" novalidate>
                <div class="form-row">
                    <div class="form-group" style="grid-column: span 2;">
                        <label class="form-label">[ NOMBRE DE LA MARCA ]</label>
                        <input type="text" id="mNombre" class="form-input" placeholder="Ej. Cisco, Mikrotik, etc." minlength="2" maxlength="100" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group" style="grid-column: span 2;">
                        <label class="form-label">[ SIGLA O ABREVIACIÓN ]</label>
                        <input type="text" id="mSigla" class="form-input" placeholder="Ej. CSCO" minlength="1" maxlength="10" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline btn-sm btn-outline-red" onclick="closeModal('modalCrearMarca')">[ CANCELAR ]</button>
            <button class="btn btn-outline btn-sm" onclick="guardarMarca()">[ GUARDAR MARCA ]</button>
        </div>
    </div>
</div>

<!-- ══════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
