<!-- ══════════════════════════════════════════ MODAL CREAR PERFIL ══════════════════════════════════════════════════ -->

<div class="modal-overlay" id="modalCrearPerfil" onclick="closeOnOverlay(event, 'modalCrearPerfil')">
    <div class="modal modal-md">
        <div class="modal-header">
            <div class="modal-terminal-btns">
                <span class="mtb mtb-red" onclick="closeModal('modalCrearPerfil')"></span>
                <span class="mtb mtb-yellow"></span>
                <span class="mtb mtb-green"></span>
            </div>
            <span class="btn btn-outline btn-sm btn-outline-blue">CREAR PERFIL.exe</span>
        </div>
        <div class="modal-body">
            <form id="formCrearPerfil" novalidate>
                <div class="form-row">
                    <div class="form-group" style="grid-column: span 2;">
                        <label class="form-label">[ NOMBRE DEL PERFIL ]</label>
                        <input type="text" id="pNombre" class="form-input" placeholder="Ej. Administrador" minlength="3" maxlength="50" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group" style="grid-column: span 2;">
                        <label class="form-label">[ SIGLA / IDENTIFICADOR ]</label>
                        <input type="text" id="pSigla" class="form-input" placeholder="Ej. ADM" minlength="1" maxlength="10" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline btn-sm btn-outline-red" onclick="closeModal('modalCrearPerfil')">[ CANCELAR ]</button>
            <button class="btn btn-outline btn-sm" onclick="savePerfil()" id="btnSavePerfil">[ GUARDAR PERFIL ]</button>
        </div>
    </div>
</div>

<!-- ══════════════════════════════════════════ MODAL CREAR PERFIL ══════════════════════════════════════════════════ -->
